:root {
    /* ### Primary */

--moderate-cyan: hsl(176, 50%, 47%);
--dark-cyan: hsl(176, 72%, 28%);

/* ### Neutral */

--black: hsl(0, 0%, 0%);
--dark-gray: hsl(0, 0%, 48%);
--dark-gray-transparent: hsla(0, 0%, 48%, 0.657);


/* ### Font */

/* - Family: [Commissioner](https://fonts.google.com/specimen/Commissioner) */
--font-family: 'Commissioner', sans-serif;
--font-weight-small: 400;
--font-weight-medium:500;
--font-weight-large: 700;
}
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

html, body {
    width: 100%;
    margin: 0;
    font-family: var(--font-family);
    font-weight: var(--font-weight-small);
}
body {
    position: relative;
}
header {
    background-image: url('./images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: fill;
    position:relative;
    z-index: 1;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    height: 240px;
    padding: 5em  0 5em 0 ;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size:1.375rem;
}
h3 {
    font-size:1.25rem;
}
p {
    color: var(--dark-gray);
    font-size:1rem;
    line-height: 1.9;
}
nav, header svg {
    padding: 0 10.5em;
}
nav a:hover {
    border-bottom: 1px solid white;
}
a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}
#image-hero-desktop {
    position: absolute;
    z-index: 0;
    width: 100%;
    min-height: 400px;
}
.container-border-radius {
    border-radius: 10px;
    border: 1px solid var(--dark-gray);

    
}
.container {
    position: relative;
    margin: -5.5em auto;
    left: 0;
    right: 0;
    width: 730px;
    z-index: 1;

}
.content-container {
    display: flex;
    flex-direction: column;

    background: white;
    
    margin: 1em 0;

    padding: 50px;
    
}

#bookmark__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: var(--font-weight-large)
}

#bookmark__button div {
    padding: 0 17px;
}
#donations-container {
    display:grid;
    /* padding: 50px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:    1fr .5fr ;
    align-items: center;
    /* justify-items:center; */
}
#donations-container .donations-box:nth-of-type(1) {
    padding-right: 20%;
}
#donations-container .donations-box:nth-of-type(2), #donations-container .donations-box:nth-of-type(3) {
    border-left: 1px solid var(--dark-gray);
    /* border-right: 1px solid var(--dark-gray); */
    justify-self: center;
    /* width:226px; */
    padding:  0 20%;
}

.donations-box > * {
    margin:0;

}
#progress, #progress__bar{
    border-radius: 10px;
} 

#progress__bar {
    width: 100%;;
    height: 15px;
    background: var(--dark-gray);
    grid-column: 1/4;
    margin-top: 20px;
}
#progress {
    width: 80%;
    height:100%;
    background-color:var(--moderate-cyan);
}
#logo-mastercraft {
    position: absolute;
    margin: 0 auto;
    top:-28px;
    left: 0;
    right: 0;
    width:56px;
}
.container1 {
    text-align: center;
}
#button-container {
    display: flex;
    justify-content: space-between;    
}
.blue__button {
    background-color: var(--moderate-cyan);
    color:white;
}
button {
    border-radius: 28px;
    height: 56px;
    border: none;
    text-align: center;
    width: 13em;
    padding: 0;
    font-family: var(--font-family);
    font-weight: var(--font-weight-large)

}
.blue__button:hover {
    background-color: var(--dark-cyan);
}
/* #donations-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    

} */
.reward-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: auto auto auto;
    padding: 1.9em;
    row-gap: 30px;
    margin-bottom: 1.5em;
    /* align-items: space-between; */
    /* width: calc(100% - 4em); */
}
.reward-container h3, .reward-container p  {
    margin:0;
}

.reward-container h3 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}
.blue__text {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: end;
    color: var(--moderate-cyan);
}
.description { 
    grid-column: 1/4;
}
.items-left {
    grid-column: 1/2;
    grid-row: 3/4;
}
.reward-container button {
    grid-column: 3/4;
    grid-row:3/4;
}
#about-container {
    text-align: start;
}
.items-left {
    display: flex; 
    align-items: center;

}
.items-left p {
    margin-left: 10px;
}
.out-of-stock > * {
    color: var(--dark-gray);
}
.out-of-stock .blue__text {
    color: hsl(174, 26%, 78%);

}
.modal__completed {
    display: block;
    /* width:  440px; */
    /* height: 350px; */
    /* background-color: white; */
    /* position: sticky; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: calc(50vh - 225px); */
    /*  */
    /* margin: 0 auto ; */
    /* z-index: 2; */
    /* display:flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-around; */
}
.modal__not__completed {
    display:none;
}
#donation__modal p, #donation__modal h2, #donation__modal button  {
    text-align: center;
    margin: 15px 0 0;
    
}
#donation__modal button {
    width: 120px
}

/* container edit */
.modal__container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--dark-gray-transparent);
    z-index: 1;
    top: 0;
}
:root {
    --donation__modal-width:  440px;
    --donation__modal-height: 350px;
}
#donation__modal {
    width:  var(--donation__modal-width);
    height: var(--donation__modal-height);
    background-color: white;
    position: fixed;
    left:calc(50vw - ((100px + var(--donation__modal-width)) / 2));
    top:calc(50vh -  ((100px + var(--donation__modal-height)) / 2));
    margin: 0 auto ;
    z-index: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
:root {
    --back__this__project__modal-width:  730px;
    --back__this__project__modal-height: auto;
}
#back__this__project__modal {
    width:  var(--back__this__project__modal-width);
    height: var(--back__this__project__modal-height);
    background-color: white;
    position: fixed;
    left:calc(50vw - ((100px + var(--back__this__project__modal-width)) / 2));
    top:calc(50vh -  ((100px + var(--back__this__project__modal-height)) / 2));
    margin: 0 auto ;
    z-index: 2;
}
#back__this__project__modal .items-left {
    grid-column:3/4;
    grid-row: 1/2;
    justify-content: flex-end;
}
#back__this__project__modal .blue__text {
    grid-column:2/3;
    text-align: start;
}
#back__this__project__modal > * {
    align-items:center;
}
#back__this__project__modal .reward-container {
    padding:15px;
}
